[submodule "doqs"]
	path = doqs
	url = https://github.com/refaqt/doqs.git
	branch = main
[submodule ".agents"]
	path = .agents
	url = https://github.com/refaqt/refaqt-agents.git
	branch = main
[submodule "modules/stoq"]
	path = modules/stoq
	url = https://github.com/refaqt/stoq.git
	branch = main
